#include <SolarFuel_Resources.hpp>
#include "..\Headers\SolarSys_Resources.hpp"



#include <SolarFuel_WinTargetVer.hpp>
#include <Windows.h>



SOLAR_SYS_IDI_MAIN_ICON ICON L".\\Icons\\SolarSys_MainIcon.ico"



SOLAR_SYS_IDM_MAIN_MANIFEST RT_MANIFEST L".\\Manifests\\SolarSys_MainManifest.manifest"



SOLAR_SYS_IDS_DEFAULT_VERTEX_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Default\\SolarSys_Default_Vert.glsl"
SOLAR_SYS_IDS_DEFAULT_FRAGMENT_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Default\\SolarSys_Default_Frag.glsl"

SOLAR_SYS_IDS_PLANET_1_VERTEX_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 1\\SolarSys_Planet1_Vert.glsl"
SOLAR_SYS_IDS_PLANET_1_FRAGMENT_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 1\\SolarSys_Planet1_Frag.glsl"

SOLAR_SYS_IDS_PLANET_2_VERTEX_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 2\\SolarSys_Planet2_Vert.glsl"
SOLAR_SYS_IDS_PLANET_2_FRAGMENT_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 2\\SolarSys_Planet2_Frag.glsl"

SOLAR_SYS_IDS_PLANET_3_VERTEX_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 3\\SolarSys_Planet3_Vert.glsl"
SOLAR_SYS_IDS_PLANET_3_FRAGMENT_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 3\\SolarSys_Planet3_Frag.glsl"

SOLAR_SYS_IDS_PLANET_4_VERTEX_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 4\\SolarSys_Planet4_Vert.glsl"
SOLAR_SYS_IDS_PLANET_4_FRAGMENT_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 4\\SolarSys_Planet4_Frag.glsl"

SOLAR_SYS_IDS_PLANET_5_VERTEX_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 5\\SolarSys_Planet5_Vert.glsl"
SOLAR_SYS_IDS_PLANET_5_FRAGMENT_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Planet 5\\SolarSys_Planet5_Frag.glsl"

SOLAR_SYS_IDS_SUN_1_VERTEX_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Sun 1\\SolarSys_Sun1_Vert.glsl"
SOLAR_SYS_IDS_SUN_1_FRAGMENT_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Sun 1\\SolarSys_Sun1_Frag.glsl"

SOLAR_SYS_IDS_SUN_2_VERTEX_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Sun 2\\SolarSys_Sun2_Vert.glsl"
SOLAR_SYS_IDS_SUN_2_FRAGMENT_SHADER SOLAR_FUEL_GLSL_RESOURCE L".\\Shaders\\Sun 2\\SolarSys_Sun2_Frag.glsl"



#include "SolarSys_EnglishUS.rc2"
